$paginator-height: 56px;

mat-sidenav-container {
  height: calc(100% - #{$paginator-height});
}

mat-sidenav {
  width: 350px;
  padding: 10px;
}

mat-sidenav-content {
  p.open-side-wrapper {
    position: fixed;
    margin: 10px;
    z-index: 1;
  }
}

.list-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;

  app-earthquake-card {
    margin: 5px;
  }
}

mat-paginator {
  position: relative;
  background: rgba(251, 198, 0, 0.8);
  color: #211c08;
  box-shadow: 0 0 5px 3px rgba(0,0,0,.2);
  z-index: 1;
}